@using EntityFrameworkCore.Examples.Application.Models
@model PersonModel

@{
    ViewData["Title"] = "Person Overview";
}
<p>Hallo Florine! :D</p>
<p>This is a POC to show how to change the connectionstring based on a parameter in the HttpContext.</p>
<p>Code can be found <a href=@ViewData["GithubLink"] target="_blank">here</a></p>
<br>
<p>Current Connectionstring: @Html.DisplayFor(modelItem => modelItem.ConnectionString)</p>
<br>
<p>Filter <a href="/home/person">Default database</a></p>
<p>Filter <a href="/home/person?datasource=data_1">Database 1</a></p>
<p>Filter <a href="/home/person?datasource=data_2">Database 2</a></p>

<h2>Queried Data</h2>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th></th>
    </tr>

    @foreach (Person person in Model.Persons)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => person.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.LastName)
            </td>
        </tr>
    }

</table>